@page "/Success"
@model JlouMart.Pages.SuccessModel
@{
}


<style>
	.message{
		height:60vh;
	}
</style>

<div class="container message">
	<h1>Success!</h1>
	<a class="btn btn-primary btn-sm" href="../Sikreto">Return to Secret Page</a>
</div>
