@page "/Sikreto"
@model JlouMart.Pages.SuperSecretPageModel
@{
}


<style>
	.container{ 
		height:90vh;
	}

	.tableFixHead {
		overflow: auto;
		height: 70vh;
	}

	.tableFixHead thead th {
		position: sticky;
		top: -1px;
			background-color:azure;
		z-index:1;
	}

</style>
<br>
<div class="container">
	<h1>List of Respondents</h1>

<div class="tableFixHead">

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Message</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var respondent in Model.Respondents)
			{
				<tr>
					<td>@respondent.Name</td>
					<td>@respondent.Email</td>
					<td>@respondent.Message</td>
					<td>
						<form method="post" class="p-2 btn-group" style="flex:0 0 25%" role="group">
							<input type="submit" value="Delete" class="btn btn-danger btn-sm" />
							<input type="hidden" name="Email" value="@respondent.Email" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
</div>