<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JlouMart</title>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/de4d547b28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pacifico&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Feedback">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <main role="main" class="">
            @RenderBody()
        </main>
    <footer class="text-center" style="background-color: #eee; height: 30vh; padding-top: 5.5rem;">
        <div class="footer-section">
            <a href="https://github.com/jamaye" target="_blank"><i class="fa-brands fa-github fa-lg footer-icon"></i></a>
            <a href="https://www.linkedin.com/in/janilousy/" target="_blank"><i class="fa-brands fa-linkedin-in fa-lg footer-icon"></i></a>
            <a href="mailto:test@example.com?subject=Jlou Mart - Mail"><i class="media-icon fa-solid fa-envelope fa-lg footer-icon"></i></a>
        </div>
        <p class="pt-2" style="color:gray"> © Janilou Sy 2023</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
